@page "/Proyectos"
@inject HttpClient Http
@inject DialogService DialogService
@implements IDisposable

<RadzenDialog @ref="DialogNuevoProyecto"/>

<h3>Gestión de Proyectos</h3>

<div style="padding:10px">
    @*<RadzenButton Click=@(args => OnClick("Light button")) Text="Nuevo" ButtonStyle="ButtonStyle.Light" />*@
    <RadzenButton Click=@MostrarNuevoProyecto Text="Nuevo" ButtonStyle="ButtonStyle.Light" />
    <RadzenButton Click=@(args => OnClick("Light button")) Text="Editar" ButtonStyle="ButtonStyle.Light" />
</div>

@*@bind-Value=@selected*@
<RadzenDataGrid Data="proyectosDto" AllowFiltering="true" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" FilterMode="FilterMode.Advanced"
                AllowPaging="true" PageSize="5" AllowSorting="true" AllowColumnResize="true" AllowColumnReorder="true"
                SelectionMode="DataGridSelectionMode.Single" @bind-Value=@selected>
    <Columns>
        <RadzenDataGridColumn TItem="GetAllProyectosDto" Property="Id" Title="Id" Visible="false" />
        <RadzenDataGridColumn TItem="GetAllProyectosDto" Property="Clave" Title="Clave" />
        <RadzenDataGridColumn TItem="GetAllProyectosDto" Property="Titulo" Title="Título" />
        <RadzenDataGridColumn TItem="GetAllProyectosDto" Property="FechaAprobacion" Title="Aprobacion" FormatString="{0:dd/MM/yyyy}" TextAlign="TextAlign.Center" />
        <RadzenDataGridColumn TItem="GetAllProyectosDto" Property="Creador" Title="Creador" />
        <RadzenDataGridColumn TItem="GetAllProyectosDto" Property="FechaCreacion" Title="Creación" FormatString="{0:dd/MM/yyyy}" TextAlign="TextAlign.Center" />
        <RadzenDataGridColumn TItem="GetAllProyectosDto" Property="Modificador" Title="Modificador" />
        <RadzenDataGridColumn TItem="GetAllProyectosDto" Property="FechaModificacion" Title="Modificacion" FormatString="{0:dd/MM/yyyy}" TextAlign="TextAlign.Center" />
    </Columns>

</RadzenDataGrid>

@*<EventConsole @ref=@console Class="mt-4" />*@

@code {
    //EventConsole console;
    private IList<GetAllProyectosDto> proyectosDto;
    private string errorMessage;
    private IList<GetAllProyectosDto> selected = new List<GetAllProyectosDto>();
    private RadzenDialog DialogNuevoProyecto;

    protected override async Task OnInitializedAsync()
    {
        DialogService.OnOpen += Open;
        DialogService.OnClose += Close;

        using var httpResponse = await Http.GetAsync("api/GetAllIsActiveProyectos/GetAllIsActive");

        if (!httpResponse.IsSuccessStatusCode)
        {
            // set error message for display, log to console and return
            errorMessage = httpResponse.ReasonPhrase;
            Console.WriteLine($"There was an error! {errorMessage}");
            return;
        }

        // convert http response data to UsersResponse object
        proyectosDto = await httpResponse.Content.ReadFromJsonAsync<List<GetAllProyectosDto>>();

        selected = proyectosDto.Take(1).ToList();
    }

    void Open(string title, Type type, Dictionary<string, object> parameters, DialogOptions options)
    {
        //console.Log("Dialog opened");
    }

    void Close(dynamic result)
    {
        //console.Log($"Dialog closed");
    }

    public async Task MostrarNuevoProyecto()
    {
        await DialogService.OpenAsync<NuevoProyecto>("Título",
               new Dictionary<string, object>() { { "Id", Guid.NewGuid() } },
               new DialogOptions() { Left = "340px",
                                     Top = "200px", 
                                     Width = "900px", 
                                     Height = "535px", 
                                     Resizable = false, 
                                     Draggable = true, 
                                     CloseDialogOnOverlayClick = true  });
    }

    public void Dispose()
    {
        // The DialogService is a singleton so it is advisable to unsubscribe.
        DialogService.OnOpen -= Open;
        DialogService.OnClose -= Close;
    }

    void OnClick(string buttonName)
    {
        //console.Log($"{buttonName} clicked");
    }
}
